.embedstuff {
  background-color: red;
  max-width: 100%;
  padding-top: 30%; /* 1:1 Aspect Ratio */
  position: ; /* If you want text inside of it */
}

/* If you want text inside of the container */
.text {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

.embed-container {
   position: relative;
   padding-bottom: 70%; /* set the aspect ratio here as (height / width) * 100% */
   height: 0;
   overflow: hidden;
   max-width: 100%;
}
.embed-container iframe {
   position: absolute;
   top: 0;
   left: 0;
   width: 90%;
   height: 100%;
}



 @media (max-width: 550px) {
     .big-container {
         display: none;
     }
 }
 @media (min-width: 550px) {
     .small-container {
         display: none;
     }
 }
 /* Responsive iFrame */
 .responsive-iframe-container {
     position: relative;
     padding-bottom: 56.25%;
     padding-top: 30px;
     height: 0;
     overflow: hidden;
 }
 .responsive-iframe-container iframe,   
 .vresponsive-iframe-container object,  
 .vresponsive-iframe-container embed {
     position: absolute;
     top: 0;
     left: 0;
     width: 100%;
     height: 100%;
 }
